@font-face {
  font-family: 'RobotoRegular';
  src: url('RobotoRegular.eot');
  src: local('Roboto Regular'), local('RobotoRegular'),
      url('/fonts/RobotoRegular.woff2') format('woff2'),
      url('fonts/RobotoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color:  #0f141e;
    background: #c5fafc
}

.container {
    max-width: 1024px;
    min-width: 380px;
    margin: 30px auto;
    padding: 25px 20px;
    background: #6DFEFF;
    border: 1px solid #4babfa;
    border-radius: 50px;
    box-shadow: 6px 4px 15px 15px rgba(0, 0, 0, 0.25);
}

.section {
    border-radius: 20px;
    padding: 15px 20px;
    text-align: center;
}

.section:first-child {
    padding: 0;
}

.section:not(:last-child){
    margin-bottom: 20px;    
}

.section-main {
    display: flex;
}

.avatar {
    display: inline-block;
    width: 200px;
    height: 275px;
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.section-main-info {
    padding-left: 40px;
}

.name-title {
    margin: 0;
    margin-bottom: 20px;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
}

.paragraph {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: italic;
    color: #86898f;
}
.paragraph:last-child {
    margin: 0;
}

section.contacts {
    background: #6DFEFF;
}

.title-cotacts {
    font-size: 1.2em;
}

.contacts-link {
    display: inline-block;
}

.contacts-link:not(:last-child) {
    margin-right: 30px;
}

.img-link {
    width: 50px;
}

.telegram:hover {
    border-radius: 50%;
    box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25);
}

.vk:hover {
    border-radius: 25%;
    box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25); 
}

.instagram:hover {
    border-radius: 25%;
    box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25); 
}

.github:hover {
    border-radius: 50%;
    box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25);
}

 .section.hobbys {
    background: #fff9dc;
}

.hobbys-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hobby {
    max-width: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.hobby:not(:last-child) {
    margin-bottom: 10px;
}
.hobby:hover {
    color: #ff9ae6;
}

.sport {
    background-image: url("/imgs/ran.png");
}

.english {
    background-image: url("/imgs/en.png");
}

.games {
    background-image: url("/imgs/game.png");
}

section.courses {
    background: #ffe5e5;
}

.table-countainer {
    width: 100%;
    margin: 0 auto;
}

.courses-list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.courses-list-сell {
    padding: 5px 0;
}

.courses-list-сell:nth-child(2), .courses-list-сell:nth-child(3) {
    color: #4c4e52;
}

.table-row:hover {
    background: #ff9ae6;
}

.innopolis {
    width: 150px;
}

.skillbox {
    width: 150px;
}

.resault-school {
    width: 150px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.study-end {
    color: green;
}

.study-process {
    color: blue;
}

section.contact-me {
    background: #e5ffe7;
}

.form-container {
    display: inline-block;
    margin: 0 15px 10px 0;
}

.form-container:last-child {
    margin-right: 0;
}

.form-lable {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    outline: 1px solid green;
    border: none;
    border-radius: 5px;
}

.form-textarea {
    width: 400px;
    height: 100px;
    margin-bottom: 5px;
    outline: 1px solid green;
    border: none;
    border-radius: 5px;
}

.form-input:focus, .form-textarea:focus {
    outline: 2px solid green;
}

.btn {
    padding: 5px 50px;
    background-color: yellowgreen;
    border: none;
    border-radius: 5px;
    color: rgb(1, 36, 9);
    font-family: inherit;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}

@media (max-width: 1120px) {
    .container {
        margin: 30px;
    }
}

@media (max-width: 650px) {
    .section-main {
        display: block;
        text-align: center;
    }

    .section-main-info {
        padding: 0;
    }

    .section {
        text-align: center;
    }

    .info-text {
        padding: 30px 20px 0;
    }

    .form-container {
        display: block;
        margin: 0;
        margin-bottom: 10px;
    }

    .img-link {
        width: 35px;
    }

    .innopolis, .skillbox, .resault-school {
        width: 100px;
    }

    .form-textarea {
        width: 185px;
        height: 50px;
        border-radius: 5px;
    }

}

@media (max-width: 480px) {
    .container {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }

}